<div class="col-md-6 mx-auto">
  <div class="card-header">
    <div *ngIf="authService.isLoggedIn && authService.getUserRole() === 'ADMIN'">
      <h1 class="card-headline">Manager</h1>
    </div>

    <div class="admin-tools">
      <button class="btn btn-primary" routerLink="block">View Blocked Users</button>
      <button class="btn btn-primary" routerLink="register">Create User</button>
      <button class="btn btn-primary" routerLink="password-reset">Send Password Reset Email</button>
    </div>
  </div>
</div>
