<div id="shopping-cart">
  <p id="shopping-cart-header">
    Shopping cart
  </p>
  <div *ngFor="let item of items; let i = index">
    <div class="shopping-cart-item">
      <div class="shopping-cart-info">

        <div class="event-name">
          <p> {{ item.event.title }} </p>
        </div>

        <div class="event-info-container">
          <p class="event-info">Date: {{ item.event.date[0] | date:'dd.MM.yy' }}</p>
          <p class="event-info">Starting-Time: {{ item.event.date[0] | date:'HH:mm' }}</p>

          <p class="event-info">Section: {{ item.seat.section.name }}</p>
          <p class="event-info">Row: {{ item.seat.seatrowId }}</p>
          <p class="event-info">Seat: {{ item.seat.seatNr }}</p>
        </div>

      </div>

      <div class="shopping-cart-info-price">

          <div class="price-container">
            <p class="price">€ {{ item.seat.section.price }} </p>
            <p class="price-info"> inkl. Mst.</p>
          </div>


        <button type="button" (click)="delete(i)" class="btn btn-danger">X</button>
      </div>

    </div>
  </div>
  <div id="checkout" *ngIf="items.length !== 0">
    <button type="button" class="btn btn-primary">Checkout</button>
    </div>
  <div *ngIf="items.length === 0">
    <p>
      You have no items in your Shopping cart
    </p>
  </div>
</div>
