<div class="mt-3 mb-5 container">
  <div class="row d-flex flex-row justify-content-between w-auto">
    <div class="col-auto h2 text-dark mt-3">
      {{news.title}}
    </div>
    <div class="col-auto text-dark mt-4">
      <small>Created on {{dateOfCreationAsLocaleDate()}}
        at {{timeOfCreationAsLocaleTime()}}</small>
    </div>
  </div>
  <div *ngIf="news.images.length > 0" class="mt-3">
    <div class="row d-flex justify-content-center">
      <div tabindex="1" class="col-auto side-panel" *ngIf="news.images.length > 1" (click)="previousImage()">
        <div class="prev-image">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-auto carousel-image-box">
        <img class="image-fit" [src]="news.images[selectedIndex]" alt="The image could not be loaded"/>
      </div>
      <div tabindex="2" class="col-auto side-panel" *ngIf="news.images.length > 1" (click)="nextImage()">
        <div class="next-image">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-1 row d-flex justify-content-center indicators" *ngIf="news.images.length > 1">
    <div class="col-auto" *ngFor="let image of news.images; let i = index;">
      <div (click)="setImage(i)"
           [ngClass]="{'active' : i===selectedIndex}"><i class="fa fa-solid fa-circle indicator-circle"></i></div>
    </div>
  </div>
  <div *ngIf="isAdmin() || news.eventId" class="row d-flex flex-row justify-content-between w-auto mt-5">
    <div class="col-auto pt-2">
      <button *ngIf="isAdmin()" type="button" class="btn btn-danger delete-button" (click)="onDelete()">
        Delete
      </button>
    </div>
    <div class="col-auto pt-2">
      <button *ngIf="news.eventId" type="button" class="btn btn-secondary event-button" [routerLink]="['/events', news.eventId, 'info']">
        Show Event
      </button>
    </div>
  </div>
  <div class="row text-center mt-4">
    <div class="full-text-styling">
      {{news.fullText}}
    </div>
  </div>
</div>
