/*
    Heading
*/

.heading {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;

    h1 {
        font-size: 1.7rem;
    }
}

/*
    Interactive Section 
*/
.interactive_section {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr;
}