<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" class="form-control" id="title" name="title" [(ngModel)]="event.title" required>
  </div>
  <div class="form-group">
    <label for="date">Date:</label>
    <div *ngFor="let date of event.date; let i = index">
      <label>Date {{i + 1}}:</label>
      <input type="date" class="form-control" id="date" name="date" [(ngModel)]="event.date[i]" [min]="today" required>
    </div>
    <button type="button" (click)="addDate()">Add another Date</button>
  </div>
  <div class="form-group">
    <label for="start-time">Starting Time:</label>
    <input type="time" class="form-control" id="start-time" name="start-time" [(ngModel)]="event.startTime" required>
  </div>
  <div class="form-group">
    <label for="cityname">City Name:</label>
    <input type="text" class="form-control" id="cityname" name="cityname" [(ngModel)]="event.cityname" required>
  </div>
  <div class="form-group">
    <label for="area-code">Area Code:</label>
    <input type="text" class="form-control" id="area-code" name="area-code" [(ngModel)]="event.areaCode" required>
  </div>
  <div class="form-group">
    <label for="duration">Duration:</label>
    <input input type="time" class="form-control" id="duration" name="duration" [(ngModel)]="event.duration" min="0" required>
  </div>
  <div class="form-group">
    <label for="category">Category:</label>
    <input type="text" class="form-control" id="category" name="category" [(ngModel)]="event.category" required>
  </div>
  <div class="form-group">
    <label for="address">Address:</label>
    <input type="text" class="form-control" id="address" name="address" [(ngModel)]="event.address" required>
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea class="form-control" id="description" name="description" rows="3" [(ngModel)]="event.description" required></textarea>
  </div>
  <div class="form-group">
    <label for="image">Image:</label>
    <input type="file" class="form-control-file" id="image" (change)="onFileSelected($event)">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
