.card-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.action-buttons {
  display: flex;
  flex-direction: row-reverse;
}

.btn-primary {
  background-color: #00BA8B;
  border-color: transparent;
  margin-top: 10px;
}

.card-border {
  margin-top: 1.5rem;
  color: black;
  border-color: transparent;
}

.card-headline {
  color: black;
  font-size: 36px;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

