.card-header {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.action-buttons {
  display: flex;
  flex-direction: row-reverse;
}

.btn-primary {
  background-color: #00BA8B;
  border-color: transparent;
  margin-top: 10px;
}
