<div class="col-md-6 mx-auto">

  <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="card-border">
      <div class="card-header">
        <h3 class="card-headline" for="email">Send Password Reset Email</h3>
        <p>By entering an email address into the form below and submitting it, a password reset email will be sent to
          that email address.
          This email contains instructions and a link that will enable the user to reset their password and
          regain access to their account.
        </p>
      </div>
      <input type="email" class="form-control" formControlName="email" id="email" placeholder="Enter email"
             required>
      <div
        *ngIf="passwordResetForm.controls.email.invalid && (passwordResetForm.controls.email.dirty || passwordResetForm.controls.email.touched)">
        <div *ngIf="passwordResetForm.controls.email.errors.required" class="text-danger">Email is required</div>
        <div *ngIf="passwordResetForm.controls.email.errors.email" class="text-danger">Invalid email format</div>
      </div>
    </div>
    <div class="action-buttons">
      <button type="submit" class="btn btn-primary">Send Email</button>
    </div>
    </div>
  </form>

</div>
