<div class="mt-4 container">

  <div class="row p-2 mb-4 mt-4">
    <button *ngIf="isAdmin()" type="button" class="btn btn-secondary btn-sm mr-4" routerLink="create">Add news</button>
  </div>

  <h1 class="mt-3 d-flex justify-content-around w-auto primary">
    News Overview
  </h1>

  <div infinite-scroll
       [infiniteScrollDistance]="distance"
       [infiniteScrollThrottle]="throttle"
       (scrolled)="onScroll()">

    <div class="mt-5 mb-5 card-deck maxWidth d-flex justify-content-center flex-wrap">
      <div *ngFor="let entry of news">
        <div class="card card-button" [routerLink]="[entry.id, 'info']">
          <div *ngIf="entry.coverImage; else standardImage" class="image-container d-flex justify-content-center">
            <img class="card-img-top image-fit" [src]="entry.coverImage" alt="The image could not be loaded">
          </div>
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">{{entry.title}}</h5>
            <p class="card-summary d-flex justify-content-center">{{entry.shortText}}</p>
          </div>
          <div class="card-footer d-flex justify-content-center">
            <small class="text-muted">Created on {{dateOfCreationAsLocaleDate(entry)}} at {{timeOfCreationAsLocaleTime(entry)}}</small>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<ng-template #standardImage>
  <div class="standard-image-container d-flex justify-content-center">
    <img class="card-img-top image-fit" [src]="'../../../assets/ticket-logo-1.ico'" alt="standard image not found">
  </div>
</ng-template>
