<div class="pt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="blockForm"></span>

      <div class="card-border">
        <div class="card-header">
          <h3 class="card-headline">{{heading}}</h3>
        </div>
        <!--<form (ngSubmit)="blockUser(user.email)" #blockForm="ngForm">-->
        <form [formGroup]="blockForm">
          <div id="input">
            <label for="email">Email</label>
            <input type="email" class="form-control" formControlName="email"
                   id="email" name="email" [(ngModel)]="user.email"
                   pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">
            <!--
            <div *ngIf="blockForm.submitted && blockForm.controls['email'].invalid" class="text-danger">
                <span class="validation-info"
                      *ngIf="email.errors?.required">
                 Email is required!
               </span>
              <span class="validation-info"
                    *ngIf="email.errors?.pattern">
                 Email is invalid!
               </span>
            </div>
            -->
          </div>
          <div *ngIf="mode === 1">
            <tr *ngFor="let user of users" class="center-td">
              <td>{{user.email}}</td>
              <td>
                <button type="submit" class="btn btn-danger" (click)="blockUser(user.email)">Unblock</button>
              </td>
            </tr>
          </div>
          <div *ngIf="mode === 0">
            <tr *ngFor="let user of users" class="center-td">
              <td>{{user.email}}</td>
              <td>
                <button type="submit" class="btn btn-danger" (click)="blockUser(user.email)">Block</button>
              </td>
            </tr>
          </div>
          <div>
            <button class="btn btn-primary" (click)="changeMode()">Change Mode</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

