.btn-danger {
  background-color: red;
  border-color: transparent;
  margin-top: 10px;
  margin-left: 10px;
}

.btn-warning {
  border-color: transparent;
  margin-top: 10px;
  margin-left: 10px;
}

.card-header {
  padding-bottom: 5px;
}

.btn-primary {
  background-color: #00BA8B;
  border-color: transparent;
  margin-top: 10px;
}

.blocked-users {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-field {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

