<div class="pt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="blockForm"></span>

      <div class="card-border">
        <div class="card-header">
          <h3 class="card-headline">{{heading}}</h3>
          <button class="btn btn-primary" (click)="changeMode()">{{buttonDescription}}</button>
        </div>
        <div id="input-field">
          <form [formGroup]="blockForm">
            <label for="email">Email</label>
            <div class="search-field">
              <input type="email" class="form-control" formControlName="email"
                     id="email" name="email" [(ngModel)]="user.email"
                     pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">
              <button class="btn btn-warning" (click)="resetBlockForm()">Reset</button>
            </div>
            <div id="user-overview">
              <div *ngIf="mode === 1">
                <tr *ngFor="let user of users" class="center-td blocked-users">
                  <td>{{user.email}}</td>
                  <td>
                    <button type="submit" class="btn btn-danger" (click)="blockUser(user.email)">Unblock</button>
                  </td>
                </tr>
              </div>
              <div *ngIf="mode === 0">
                <tr *ngFor="let user of users" class="center-td blocked-users">
                  <td>{{user.email}}</td>
                  <td>
                    <button type="submit" class="btn btn-danger" (click)="blockUser(user.email)">Block</button>
                  </td>
                </tr>
              </div>
            </div>


          </form>
        </div>
      </div>
    </div>
  </div>
</div>

