<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="centered " *ngIf="validityCheck()">
    <div class="border">
        <span class="material-symbols-outlined checkmark">done</span>
        <p class="success-msg">Ticket is valid!</p>
    </div>

</div>
<div class="centered " *ngIf="!validityCheck()">
    <div class="border">
        <span class="material-symbols-outlined cross">
            close
        </span>
        <p class="success-msg">Ticket is invalid!</p>
    </div>

</div>
