.card-header {
  padding-bottom: 5px;
}

.card-headline {
  color: black;
  font-size: 36px;
}

.card-border {
  color: black;
  border-color: transparent;
}

.btn-primary {
  background-color: #00BA8B;
  border-color: transparent;
  margin-top: 10px;
}

.form-group {
  font-size: 15px;
  color: black;
}

.ticket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D9D9D9;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 5px
}

.event {
  display: flex;
  justify-content: space-between;
}

