<div *ngIf="showPdfContent" #pdfContent>
    <b style="font-size:36px; color:#23a6d5">Ticketline </b>
    <b> ------------------------------------------------------</b>
    <h2>{{ ticket.event.title }}</h2>
    <p>
        <strong>Location:</strong> {{ ticket.event.eventDatesLocation[0].city }}
        |
        <strong>Area Code:</strong> {{
        ticket.event.eventDatesLocation[0].areaCode}} |
        <strong>Address:</strong> {{
        ticket.event.eventDatesLocation[0].address}} |
        <strong>Room:</strong> {{ ticket.event.eventDatesLocation[0].room }} |
        <strong>Starting Time:</strong> {{
        ticket.event.eventDatesLocation[0].startingTime }}
    </p>
    <p>
        <strong>Duration:</strong> {{ ticket.event.duration }} |
        <strong>Category:</strong> {{ ticket.event.category }}
    </p>
    <p><strong>Artist:</strong> {{ ticket.event.artist }}</p>

    <h3>Ticket Details</h3>
    <p><strong>Ticket Number:</strong> {{ ticket.ticketNr }}</p>
    <p>
        <strong>Seat Type:</strong> {{ ticket.seat.type }} |
        <strong>Seat Number:</strong> {{ ticket.seat.seatNr }} |
        <strong>Section:</strong> {{ ticket.seat.sectionName }} |
        <strong>Row Number:</strong> {{ ticket.seat.seatRowNr }}
    </p>

</div>

<button (click)="generateTicketPdf()">Generate Ticket</button>
