.eventDates {
  position: relative;
}

.eventDates .ticket-btn {
  position: absolute;
  top: 20%;
  right: 5%;
  margin-top: 10px;
}

.custom-sub-form {
  margin-top: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5em;
}
