.card-header {
  margin-top: 1.5rem;
}

.card-border {
  color: black;
  border-color: transparent;
}

.btn-primary {
  background-color: #00BA8B;
  border-color: transparent;
  margin-top: 10px;

}


.form-group {
  font-size: 15px;
  color: black;
}

.card-headline {
  color: black;
  font-size: 36px;
}

.action-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: baseline;

}

