.pt-5{
  margin-bottom: 3rem;
}

.card-header {
  padding-bottom: 5px;
}

.card-headline {
  color: black;
  font-size: 36px;
}

.infobox {
  margin-top: 1rem;
}

.order-overview > h4{
  text-align: right;
}

.billing-info {
  margin-bottom: 1rem;

}

.item-list{
  margin-bottom: 0.5rem;
}
