.submit-button {
  min-width: 125px;
  min-height: 50px;
}

mat-grid-tile {
  border: 1px solid var(--primary-color);
  background-color: black;
}

.btn-remove-image {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  background-color: var(--secondary-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  &:hover {
    background-color: var(--split-secondary-color-2);
  }
}

.cover-square-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contain-square-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-container {
  height: 315px;
  text-align: center;
  color: white;
  border: 1px solid var(--primary-color);
  background-color: black;
}

.square-card-styling {
  width: 315px;
}

.card-styling {
  width: 560px;
}

.mat-form-field {
  width: 100%;
}

textarea,textarea-autosize {
  overflow-y: hidden;
}
