<div class="shopping-cart-item">
  <div class="shopping-cart-info">

    <div class="event-name">
      <h4> {{ event.title }} {{ ticketnr ? ' - Ticket number: ' + ticketnr : '' }}</h4>
    </div>

    <div class="event-info-container">
      <span class="event-info">Date:  <b> {{ event.eventDatesLocation[0].date | date:'dd.MM.yy' }}</b></span>
      <span
        class="event-info">Starting-Time:  <b> {{ formatTime(event.eventDatesLocation[0].startingTime) | date:'HH:mm' }}</b></span>

      <span class="event-info">Section: <b> {{ seat.sectionName}}</b></span>
      <span class="event-info">Row: <b> {{ seat.seatRowNr }}</b></span>
      <span class="event-info">Seat:  <b> {{ seat.seatNr }}</b></span>
    </div>

  </div>

  <div class="shopping-cart-info-price">
    <div class="price-container">
      <h4 class="price"> {{this.isReservation ? 'Reservation only (' + formatPrice(seat.price) + ')' : formatPrice(seat.price)}} €</h4>
      <span class="price-info"> inkl. Mst.</span>
    </div>
  </div>
</div>
