<div class="pt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formRegister"></span>

      <div class="card-border">
        <div class="card-header">
          <h3 class="mb-0">Register</h3>
        </div>

        <form (ngSubmit)="registerUser()" #registerForm="ngForm">
          <div id="input">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control"
                     id="email" name="email" [(ngModel)]="user.email" #email="ngModel" required
                     pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">
              <div *ngIf="registerForm.submitted &&registerForm.controls['email'].invalid" class="text-danger">
                <span class="validation-info"
                      *ngIf="email.errors?.required">
                 Email is required!
               </span>
                <span class="validation-info"
                      *ngIf="email.errors?.pattern">
                 Email is invalid!
               </span>
              </div>
            </div>

            <div class="form-group"
                 [class.has-error]="firstName.invalid && firstName.touched">
              <label for="firstName" class="control-label">First Name</label>
              <input type="text" class="form-control" id="firstName" name="firstName" pattern="[A-Za-z]*"
                     [(ngModel)]="user.firstName"
                     #firstName="ngModel" required>
              <div *ngIf="registerForm.submitted &&registerForm.controls['firstName'].invalid" class="text-danger">
                     <span class="validation-info"
                           *ngIf="firstName.errors?.required">
                First Name is required!
              </span>
                <span class="validation-info"
                      *ngIf="firstName.errors?.pattern">
                First Name is invalid!
              </span>
              </div>

            </div>

            <div class="form-group"
                 [class.has-error]="lastName.invalid && lastName.touched">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" name="lastName" pattern="[A-Za-z]*"
                     [(ngModel)]="user.lastName"
                     #lastName="ngModel" required>
              <div *ngIf="registerForm.submitted &&registerForm.controls['lastName'].invalid" class="text-danger">Last
                <span class="validation-info"
                      *ngIf="lastName.errors?.required">
                Last Name is required!
              </span>
                <span class="validation-info"
                      *ngIf="lastName.errors?.pattern">
                Last Name is invalid!
              </span>
              </div>

            </div>

            <div class="form-group"
                 [class.has-error]="birthDate.invalid && birthDate.touched">
              <label for="birthDate">Birthdate</label>
              <input type="date" class="form-control" id="birthDate" name="birthDate" [(ngModel)]="user.birthdate"
                     #birthDate="ngModel" required>
              <div *ngIf="registerForm.submitted &&registerForm.controls['birthDate'].invalid" class="text-danger">
                Birthdate is
                required
              </div>
            </div>

            <div class="form-group"
                 [class.has-error]="address.invalid && address.touched">
              <label for="address">Address</label>
              <input type="text" class="form-control" id="address" name="address" pattern="[A-Za-z0-9 ]*"
                     [(ngModel)]="user.address"
                     #address="ngModel" required>
              <div *ngIf="registerForm.submitted &&registerForm.controls['address'].invalid" class="text-danger">Address
                is
                required
              </div>
              <!--
              <span class="validation-info"
                    *ngIf="address.errors?.required && address.touched">
                Address is required!
              </span>
              <span class="validation-info"
                    *ngIf="address.errors?.pattern && address.touched">
                Address is invalid!
              </span>
              -->
            </div>

            <div class="form-group"
                 [class.has-error]="areaCode.invalid && areaCode.touched">
              <label for="areaCode">AreaCode</label>
              <input type="text" class="form-control" id="areaCode" name="areaCode" pattern="[0-9]+"
                     [(ngModel)]="user.areaCode"
                     #areaCode="ngModel" required>
              <div *ngIf="registerForm.submitted &&registerForm.controls['areaCode'].invalid" class="text-danger">
                   <span class="validation-info"
                         *ngIf="areaCode.errors?.required">
                AreaCode is required!
              </span>
                <span class="validation-info"
                      *ngIf="areaCode.errors?.pattern">
                AreaCode is invalid!
              </span>
              </div>
            </div>

            <div class="form-group"
                 [class.has-error]="cityName.invalid && cityName.touched">
              <label for="cityName">CityName</label>
              <input type="text" class="form-control" id="cityName" name="cityName" pattern="[A-Za-z]+"
                     [(ngModel)]="user.cityName"
                     #cityName="ngModel" required>
              <div *ngIf="registerForm.submitted &&registerForm.controls['cityName'].invalid" class="text-danger">City
                <span class="validation-info"
                      *ngIf="cityName.errors?.required">
                City Name is required!
              </span>
                <span class="validation-info"
                      *ngIf="cityName.errors?.pattern">
                City Name is invalid!
              </span>
              </div>
            </div>

            <div class="form-group"
                 [class.has-error]="password.invalid && password.touched">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password"
                     #password="ngModel" required minlength="8">
              <div *ngIf="registerForm.submitted && registerForm.controls['password']?.invalid" class="text-danger">
                <div class="text-danger"
                     *ngIf="password.errors?.minlength">
                  Password must be at least 8 characters!
                </div>
                <div class="text-danger"
                     *ngIf="password.errors?.required">
                  Password is required!
                </div>
              </div>
            </div>

            <div *ngIf="authService.isLoggedIn() && authService.getUserRole() === 'ADMIN'" class="form-group">
              <label for="admin">Admin</label>
              <input type="checkbox" class="checkbox" id="admin" name="admin" [(ngModel)]="user.admin">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
