.validation-info {
  color: #D63301;
}

.card-header {
  margin-top: 1.5rem;
}

.btn-primary {
  background-color: #00BA8B;
  border-color: transparent;
  margin-top: 10px;
}


.action-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: baseline;

}

.card-border {
  color: black;
  border-color: transparent;
}

.form-group {
  color: black;
  font-size: 15px;
}

.card-headline {
  color: black;
  font-size: 36px;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.checkbox {
  color: #63A5B6;
  margin-left: 10px;
  margin-top: 15px;
}