<fieldset>
<input type="text" id="input" autocomplete="off" role="combobox" list="" name="browsers"
       [placeholder]="placeholder"
       [attr.list]="dataListId"
       [ngClass]="textInputClass"
       [(ngModel)]="inputText"
       (ngModelChange)="inputChange.next($event)"
       [disabled]="disabled"
       (blur)="resetInputText()"
>
<datalist [id]="dataListId" [ngClass]="datalistClass">
  <option *ngFor="let candidateEntry of valueCandidates | keyvalue" [value]="formatModel(candidateEntry.value)"></option>
</datalist>
</fieldset>

