<form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <h1 for="email">Send Reset Mail</h1>
    <input type="email" class="form-control" formControlName="email" id="email" placeholder="Enter user email" required>
    <div
      *ngIf="passwordResetForm.controls.email.invalid && (passwordResetForm.controls.email.dirty || passwordResetForm.controls.email.touched)">
      <div *ngIf="passwordResetForm.controls.email.errors.required" class="text-danger">Email is required</div>
      <div *ngIf="passwordResetForm.controls.email.errors.email" class="text-danger">Invalid email format</div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Send Email</button>
</form>
