<div class="menu">
    <button [ngClass]="{'btn-secondary' : sectionpage === submenuPageEnum.addSection, 
        'btn-light':  sectionpage !== submenuPageEnum.addSection
        }" class="btn" (click)="switchPage(submenuPageEnum.addSection)">
        Create Section
    </button>

    <button [ngClass]="{'btn-secondary' : sectionpage === submenuPageEnum.manageSection, 
        'btn-light':  sectionpage !== submenuPageEnum.manageSection
        }" class="btn btn-light" (click)="switchPage(submenuPageEnum.manageSection)">
        Manage Sections
    </button>
</div>

<div class="content">
    <app-create-section 
        *ngIf="sectionpage === submenuPageEnum.addSection" 
        [roomplan]="this.roomplan"
        (createSectionEvent)="this.createSectionEvent.emit($event)"
    />

    <app-manage-section 
        [sections]="this.sections"
        (deleteSectionEvent)="this.handleDeleteSection($event)"
        *ngIf="sectionpage === submenuPageEnum.manageSection" 
    />
</div>