<div class="col-md-6 mx-auto">
  <form (ngSubmit)="onSubmit()" [formGroup]="passwordResetForm">
    <h1>Reset Password</h1>
    <p>Please enter your email address and a new password to reset your password.
    </p>
    <div class="form-group">
      <label for="email">Email: <span class="text-danger">*</span></label>
      <input type="email" class="form-control mt-3" name="email" id="email" placeholder="Enter user email"
             formControlName="email"
             required>
      <div
        *ngIf="passwordResetForm.controls.email?.invalid && (passwordResetForm.controls.email?.dirty || passwordResetForm.controls.email?.touched)">
        <div *ngIf="passwordResetForm.controls.email?.errors?.required" class="text-danger">Email is required</div>
        <div *ngIf="passwordResetForm.controls.email?.errors?.email" class="text-danger">Invalid email format</div>
      </div>
    </div>
    <div class="form-group mt-3"
         [class.has-error]="passwordResetForm.controls['newPassword']?.invalid && passwordResetForm.controls['newPassword']?.touched">
      <label for="newPassword">New Password: <span class="text-danger">*</span></label>
      <input type="password" class="form-control" id="newPassword" name="newPassword"
             formControlName="newPassword" required minlength="8" [pattern]="passwordPattern"
             placeholder="Enter new password">
      <div class="text-danger"
           *ngIf=" submitted && passwordResetForm.controls['newPassword'].errors?.pattern">
        Password must contain at least one lowercase letter, one uppercase letter, one digit, and one special
        character.
      </div>
      <div class="text-danger"
           *ngIf=" submitted && passwordResetForm.controls['newPassword'].errors?.minlength">
        Password must be at least 8 characters!
      </div>
    </div>


    <div class="form-group mt-3">
      <label for="confirmPassword">Confirm Password: <span class="text-danger">*</span></label>
      <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
             formControlName="confirmPassword" placeholder="Confirm new password" [pattern]="passwordPattern" required>
      <div *ngIf="error" class="text-danger">{{ error }}</div>
      <div *ngIf="success" class="text-success">{{ success }}</div>
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
  </form>
</div>
